/* div {
  width: 300px;
  margin: 0 auto;
} */
li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: mediumblue;
  align-items: center;
  color: #ddd;
  width: 200px;
  margin-top: 4px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
}
.btn-group {
  margin-left: 10px;
}

.btn-group button {
  background-color: crimson;
  border: none;
  padding: 5px;
  color: #ddd;
  margin-left: 3px;
  font-size: 10px;
  border-radius: 5px;
}
.btn-group button:nth-child(1) {
  background-color: green;
}
input {
  outline: none;
  width: 140px;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.present {
  border: 2px solid #ddd;
  padding: 4px;
  height: 223px;
  overflow: scroll;
}
.present ul li {
  background-color: green;
  display: flex;
  justify-content: center;
}
.absent {
  border: 2px solid #ddd;
  padding: 4px;
  height: 223px;
  overflow: scroll;
}
.absent ul li {
  background-color: crimson;
}
.absent button {
  background-color: mediumblue;
  color: #fff;
  padding: 4px;
  border: none;
  border-radius: 4px;
}
.presetnAbsent {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
ul {
  height: 200px;
  padding: 4px;
  overflow: scroll;
  border: 2px solid #ddd;
}
